<div class="today-weather">
	<div class="today-block">
		<p class="today-region">{{region}}</p>
		<p class="today-update">Погоду оновлено: {{update}}</p>
	</div>
	<div class="today-wrapper">
		<p class="today-now">Погода на зараз у "{{city}}"</p>
	</div>
	<div class="today">
		<div class="today-date">
			<p class="today-day">{{dayToday}}</p>
			<p class="today-number">{{numberOne}}</p>
			<p class="today-month">{{monthOne}}</p>
		</div>
		<div class="today-icon">
			<img src="{{imgCurrent}}" class="today-img">
			<p class="today-text">{{textCurrent}}</p>
		</div>
		<div class="today-info">
			<p class="temp">Температура: <span class="temp-span">{{tempCurrent}}&deg</span></p>
			<p class="feels">Відчувається як: <span class="feels-span">{{feelsCurrent}}&deg</span></p>
			<p class="humidity">Вологість: <span class="humidity-span">{{humidityCurrent}}</span>%</p>
			<p class="wind">Вітер: <span class="wind-span">{{windCurrent}}</span>км/год</p>
			<p class="cloud">Хмарність: <span class="cloud-span">{{cloudCurrent}}</span>%</p>
			<p class="vis">Видимість: <span class="vis-span">{{visCurrent}}</span>км</p>
			<p class="precip">Опади: <span class="precip-span">{{precipCurrent}}</span>мм</p>
		</div>
	</div>
</div>
<div class="today-wrapper">
	<p class="week">Погода на 7 днів у "{{city}}"</p>
</div>
<div class="main-block">
	<div class="weekday">
		<p class="day">{{dayOne}}</p>
		<p class="day-number">{{numberOne}}</p>
		<p class="month">{{monthOne}}</p>
		<img src="{{imgOne}}" alt="icon" class="img-weather">
		<p class="text">{{textOne}}</p>
		<p class="min-temp">мін: {{minTempOne}}&deg;</p>
		<p class="max-temp">макс: {{maxTempOne}}&deg;</p>
		<p class="sunrise">Схід сонця: {{riseOne}}</p>
		<p class="sunset">Захід сонця: {{setOne}}</p>
	</div>
	<div class="weekday">
		<p class="day">{{dayTwo}}</p>
		<p class="day-number">{{numberTwo}}</p>
		<p class="month">{{monthTwo}}</p>
		<img src="{{imgTwo}}" alt="icon" class="img-weather">
		<p class="text">{{textTwo}}</p>
		<p class="min-temp">мін: {{minTempTwo}}&deg;</p>
		<p class="max-temp">макс: {{maxTempTwo}}&deg;</p>
		<p class="sunrise">Схід сонця: {{riseTwo}}</p>
		<p class="sunset">Захід сонця: {{setTwo}}</p>
	</div>
	<div class="weekday">
		<p class="day">{{dayThree}}</p>
		<p class="day-number">{{numberThree}}</p>
		<p class="month">{{monthThree}}</p>
		<img src="{{imgThree}}" alt="icon" class="img-weather">
		<p class="text">{{textThree}}</p>
		<p class="min-temp">мін: {{minTempThree}}&deg;</p>
		<p class="max-temp">макс: {{maxTempThree}}&deg;</p>
		<p class="sunrise">Схід сонця: {{riseThree}}</p>
		<p class="sunset">Захід сонця: {{setThree}}</p>
	</div>
	<div class="weekday">
		<p class="day">{{dayFour}}</p>
		<p class="day-number">{{numberFour}}</p>
		<p class="month">{{monthFour}}</p>
		<img src="{{imgFour}}" alt="icon" class="img-weather">
		<p class="text">{{textFour}}</p>
		<p class="min-temp">мін: {{minTempFour}}&deg;</p>
		<p class="max-temp">макс: {{maxTempFour}}&deg;</p>
		<p class="sunrise">Схід сонця: {{riseFour}}</p>
		<p class="sunset">Захід сонця: {{setFour}}</p>
	</div>
	<div class="weekday">
		<p class="day">{{dayFive}}</p>
		<p class="day-number">{{numberFive}}</p>
		<p class="month">{{monthFive}}</p>
		<img src="{{imgFive}}" alt="icon" class="img-weather">
		<p class="text">{{textFive}}</p>
		<p class="min-temp">мін: {{minTempFive}}&deg;</p>
		<p class="max-temp">макс: {{maxTempFive}}&deg;</p>
		<p class="sunrise">Схід сонця: {{riseFive}}</p>
		<p class="sunset">Захід сонця: {{setFive}}</p>
	</div>
	<div class="weekday">
		<p class="day">{{daySix}}</p>
		<p class="day-number">{{numberSix}}</p>
		<p class="month">{{monthSix}}</p>
		<img src="{{imgSix}}" alt="icon" class="img-weather">
		<p class="text">{{textSix}}</p>
		<p class="min-temp">мін: {{minTempSix}}&deg;</p>
		<p class="max-temp">макс: {{maxTempSix}}&deg;</p>
		<p class="sunrise">Схід сонця: {{riseSix}}</p>
		<p class="sunset">Захід сонця: {{setSix}}</p>
	</div>
	<div class="weekday">
		<p class="day">{{daySeven}}</p>
		<p class="day-number">{{numberSeven}}</p>
		<p class="month">{{monthSeven}}</p>
		<img src="{{imgSeven}}" alt="icon" class="img-weather">
		<p class="text">{{textSeven}}</p>
		<p class="min-temp">мін: {{minTempSeven}}&deg;</p>
		<p class="max-temp">макс: {{maxTempSeven}}&deg;</p>
		<p class="sunrise">Схід сонця: {{riseSeven}}</p>
		<p class="sunset">Захід сонця: {{setSeven}}</p>
	</div>
</div>
